{% extends 'mvlcblog/base.html' %}

{% block contenido %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Bienvenido a mi blog</h2>
                    <p class="card-text text-center">Hola, soy Alexander tengo 39 años y estoy iniciandome cómo programador usando Python !!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}