{% extends "mvlcblog/base.html" %}

{% block contenido %}

<ul class="list-group">
{% for mensaje in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{mensaje.enviado_el}} - - {{mensaje.email}} -- {{mensaje.nombre}}
        <div>
            <a class="btn btn-sm btn-outline-danger" href="{% url 'mvlcblog-mensajes-borrar' mensaje.id %}">Borrar</a>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'mvlcblog-mensajes-detalle' mensaje.id %}">Ver</a>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}